@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

nav {
    display: flex;
    height: 80px;
    width: 100%;
    background: rgb(27, 27, 27);
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    z-index: 5;
}


nav .logo {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    z-index: 5;

}

nav ul li {
    margin: 0 5px;
    z-index: 5;

}

nav ul li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
    color: #111;
    background: #fff;
}

nav .menu-btn i {
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    display: none;
    z-index: 5;

}

input[type="checkbox"] {
    display: none;
}

@media (max-width: 1000px) {
    nav {
        padding: 0 40px 0 50px;
        z-index: 5;
        

    }
}

@media (max-width: 920px) {
    nav .menu-btn i {
        display: block;
        
    }
    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }
    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: #111;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
        z-index: 5;

    }
    #click:checked~ul {
        left: 0;
    }
    nav ul li {
        width: 100%;
        margin: 40px 0;
        z-index: 5;

    }
    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        z-index: 5;

    }
    #click:checked~ul li a {
        margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover {
        background: none;
        color: cyan;
    }
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: -1;
    width: 100%;
    padding: 0 30px;
    color: #1b1b1b;
    z-index: 5;

}

.content div {
    font-size: 40px;
    font-weight: 700;
    z-index: 5;

}

h1 {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}
h2 {
  text-align: center;
}



/*Title in NavBar */
label.headline {
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin-left: -30px;
  padding-left: -30px;
}

/*Translation window params*/
#translation {
  font-size:large;
  margin-top: 10px;
  text-align: center;
  color: black;
  position: absolute;
  z-index: 1;
  height: 60%;
  width: 90%;
  left: 5%;
  background: transparent;
}




/* CSS FOR AUTOCOMPLETE DROPDOWN*/

/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

::selection{
  color: #fff;
  background: #4285f4;
}
.wrapper{
  width: 370px;
  margin: 85px auto 0;
}
.select-btn, li{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.select-btn{
  margin-top: -80px;
  height: 50px;
  padding: 0 20px;
  font-size: 22px;
  background: #b3b3b33b;
  border-radius: 7px;
  justify-content: space-between;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.select-btn i{
  font-size: 31px;
  transition: transform 0.3s linear;
}
.wrapper.active .select-btn i{
  transform: rotate(-180deg);
}
.content{
  display: none;
  padding: 20px;
  margin-top: -60px;
  background: #ffffff;
  border-radius: 7px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.wrapper.active .content{
  display: block;
}
.content .search{
  position: relative;
}
.search i{
  top: 50%;
  left: 15px;
  color: #999;
  font-size: 20px;
  pointer-events: none;
  transform: translateY(-50%);
  position: absolute;
}
.search input{
  top: -20px;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 17px;
  border-radius: 5px;
  padding: 0 20px 0 43px;
  border: 1px solid #b3b3b33b;
}
.search input:focus{
  padding-left: 42px;
  border: 2px solid #b3b3b33b;
}
.search input::placeholder{
  color: #000000;
}
.content .options{
  margin-top: 10px;
  max-height: 250px;
  overflow-y: auto;
  padding-right: 7px;
}
.options::-webkit-scrollbar{
  width: 7px;
}
.options::-webkit-scrollbar-track{
  background: #b3b3b33b;
  border-radius: 25px;
}
.options::-webkit-scrollbar-thumb{
  background: #b3b3b33b;
  border-radius: 25px;
}
.options::-webkit-scrollbar-thumb:hover{
  background: #b3b3b33b;
}
.options li{
  top: 50;
  height: 50px;
  padding: 0 13px;
  font-size: 21px;
}
.options li:hover, li.selected{
  border-radius: 5px;
  background: #b3b3b33b;
}

body {
  background-color:#e9ede9;  
}

.logos{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;  
  margin-top: 650px;
}

